@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* border: solid green 1px; */
}
body {
    font-family: Roboto;
    background: #F9FAF8;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: white
}
#first-section {
    height: 100vh;
    background:#1F2937;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    padding-bottom: 50px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header .links ul{
    display: flex;
    padding: 0px;
    gap: 25px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container-hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    gap: 50px;
    min-height: 400px;
}
.hero {
    padding: 40px 0px;
    align-self: center;
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
p, .links, footer{
    font-size: 18px;
    color: #E5E7EB;
}
img {  
    width: auto;
    height: 400px;
}
#second-section {
    display: flex;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 350px;
    padding-bottom: 50px;
    
}
#second-section div {
    display: flex;
    color: #060409;
}
#second-section img {
    width: 200px;
    height: 200px;
    background: ;
    border-radius: 20px;
    border: #3882F6 solid 4px;
}
#second-section h2 {
    color: #1F2937;
    font-size: 36px;
}
figcaption {
    color: #8c8c8c;
}

#third-section {
    height: 50vh;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E7EB;
}

.quote {
    margin: 0px 350px;
    color: #1F2937;
    font-size: 36px;
}
.thor {
    color: black;
    font-size: 26px;
    text-align: right;
}
#fourth-section {
    height: 30vh;
    flex-grow: 2;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #3882F6;
    flex-grow: 1;
    border-radius: 10px;
    padding: 50px 150px;
}
.call-action {
    font-size: 26px;
}
footer {
    height: 10vh;
    background:#1F2937;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background: #3882F6;
    padding: 10px 30px;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 15px;
    font-weight: 900;
    color: white;
}