@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: solid green 1px;
}
body {
    font-family: Roboto;
    height: 100vh;
    background: rosybrown;
    border: blue solid 1px;
    margin: 0px;
}
#container {
    padding: 0px 100px;
}
figure {
    background: royalblue;
}